
.grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    height: 100vh;
}

.header {
    background-color: hsl(0, 0%, 45%);
    grid-column: 1/3;
    padding: 10px;
}

.main {
    padding: 10px;
    background-color:hsl(0, 0%, 45%);
    color: aliceblue;
}

.top {
 
    color: aliceblue;
    padding: 10px;
    grid-column: 1/3;
    background-color:hsl(0, 0%, 45%);;
}

.card {
    background-color:hsl(0, 0%, 45%);;
}

.side {
    display: grid;
    grid-template-columns: hsl(0, 0%, 45%);;
    gap: 10px;
}