/* Fichier style.css créé le [05.11.2025] */
body {
  font-family: var(--font-text);
  background-color: #ffd5ff;
  text-align: center;
  margin-top: 50px;
}

h1,
h2,
h3 {
  color: #000000;
}
button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border-color: black;
  border-radius: 5px;
  background-color: #da86c3;
  color: rgb(0, 0, 0);
}
button:hover {
  background-color: #ffa1e6;
  color: rgb(0, 0, 0);
}
button:disabled {
  background-color: rgb(255, 0, 0);
  cursor: not-allowed;
}
