/* CSS de la Galerie d'art virtuelle */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #fff2b1;
  text-align: center;
}

h1 {
  color: #121212;
  font-weight: lighter;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 20px;
  width: 100%;
}

.oeuvre {
  border: 10px solid #c7a003;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  text-align: center;
}

.oeuvre:hover {
  transform: translateY(-5px);
}

.oeuvre img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.oeuvre h3 {
  margin: 10px 0 5px 0;
  color: #187521;
}

.oeuvre p {
  margin: 5px 0;
  color: #096738;
  font-size: 13px;
}
